@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center ">
    <h1>Shapes</h1>
</div>

<div>
    <div style="width:100%">
        <img style="width:100%" src="~/Assets/shape_and_form_in_photography_shapes.jpg"
    </div>
</div>